<h1><%= @house.name %></h1>


<p><strong>Book: </strong><%= @house.source %></p>
<p><strong>Author: </strong><%= @house.author %></p>
<p><strong>Motto: </strong><%= @house.motto %></p>

<h3>Members of <%= @house.name %>:</h3>
<ul>
  <% @members.each do |member| %>
  <li>
    <%= member.first_name %> <%= member.last_name %>:
    <%= member.created_at.strftime("%B %d %Y") %></li>
  <% end %>
</ul>


<%= link_to 'Home', houses_path %> | <%= link_to 'Add a House Member', new_house_member_path(@house) %>
